<!DOCTYPE html>
<html>
  <head>
    <title>Shortcut2018</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="img-container">
      <%= image_tag 'shortcut_logo.jpg' %>
    </div>

    <%= yield %>
  </body>
</html>
